/*reset*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
img,
strong,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
footer,
header,
menu,
nav,
section,
summary,
audio,
video {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
}
/* body */
body {
  font-size: 14px;
}
/* global styling */
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.text-left {
  text-align: right;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.wait,
.wait div {
  cursor: wait !important;
}
/*generic padding & margins */
.pad-sm {
  padding: 7px !important;
}
.pad-med,
.pad {
  padding: 15px !important;
}
.pad-lg {
  padding: 30px !important;
}
.pad-width {
  padding: 0 15px !important;
}
.pad-height {
  padding: 15px 0 !important;
}
.pad-left {
  padding-left: 15px !important;
}
.pad-right {
  padding-right: 15px !important;
}
.pad-top-xs {
  padding-top: 4px !important;
}
.pad-top-sm {
  padding-top: 7px !important;
}
.pad-top-med,
.pad-top {
  padding-top: 15px !important;
}
.pad-top-lg {
  padding-top: 30px !important;
}
.pad-bottom-xs {
  padding-bottom: 4px !important;
}
.pad-bottom-sm {
  padding-bottom: 7px !important;
}
.pad-bottom-med,
.pad-bottom-bottom {
  padding-bottom: 15px !important;
}
.pad-bottom-lg {
  padding-bottom: 30px !important;
}
.pad-bottom-xl {
  padding-bottom: 100px !important;
}
.margin-sm {
  margin: 7px !important;
}
.margin-med,
.margin {
  margin: 15px !important;
}
.margin-lg {
  margin: 30px !important;
}
.margin-width {
  margin: 0 15px !important;
}
.margin-height {
  margin: 15px 0 !important;
}
.margin-left {
  margin-left: 15px !important;
}
.margin-right {
  margin-right: 15px !important;
}
.margin-top-xs {
  margin-top: 4px !important;
}
.margin-top-sm {
  margin-top: 7px !important;
}
.margin-top-med {
  margin-top: 15px !important;
}
.margin-top-lg {
  margin-top: 30px !important;
}
.margin-bottom-xs {
  margin-bottom: 4px !important;
}
.margin-bottom-sm {
  margin-bottom: 7px !important;
}
.margin-bottom-med,
.margin-bottom {
  margin-bottom: 15px !important;
}
.margin-bottom-lg {
  margin-bottom: 30px !important;
}
.margin-bottom-xl {
  margin-bottom: 100px !important;
}
.height-lg {
  height: 300px !important;
}
/* grid system */
.box .box {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.box .box.shadow {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
}
.box {
  width: 100%;
  /* fonts */
  /* inputs fields */
  /* buttons */
  /* align column content to icon sizes */
  /* 
        sm  = 16x16 
        med  = 24x24
        lg = 32x32
    */
  /* small (16x16) */
  /* medium (24x24) */
  /* large (32xx32) */
  /* small tag */
  /* color tagging */
  /* the contents of the column next to the colored tag*/
  /* create horizontal list of columns (like Windows Explorer file list) */
}
.box:after {
  content: "";
  display: table;
  clear: both;
}
.box .bg {
  width: 100%;
  height: 100%;
}
.box .form {
  max-width: 700px;
}
.box .row {
  /* rows */
  width: 100%;
  box-sizing: border-box;
  line-height: 0;
}
.box .row *:not(.row, .col) {
  line-height: 1;
}
.box .row:after {
  content: "";
  display: table;
  clear: both;
}
.box .row .hover-only {
  display: none;
}
.box .row .hover-faded {
  opacity: 0.33;
}
.box .row.hover:hover .hover-only {
  display: block;
}
.box .row.hover:hover .hover-faded {
  opacity: 1;
}
.box .row.hover-alt:hover .hover-only {
  display: block;
}
.box .row.hover-alt:hover .hover-faded {
  opacity: 1;
}
.box .row.empty {
  height: 10px;
  font-size: 0;
  clear: both;
}
.box .row.menu {
  cursor: pointer;
}
.box .row.header {
  padding: 7px 14px 7px 14px;
}
.box .row .hidden {
  height: 0px;
  font: 0px;
}
.box .col {
  /* columns (12 column grid system) */
  float: left;
  box-sizing: border-box;
  line-height: 0;
  display: inline;
  *margin-right: -1px;
  /* Add the asterisk */
}
.box .col *:not(.col) {
  line-height: 1;
}
.box .col.one {
  width: 8.333339%;
}
.box .col.two {
  width: 16.666669%;
}
.box .col.three {
  width: 25%;
}
.box .col.four {
  width: 33.333339%;
}
.box .col.five {
  width: 41.66669%;
}
.box .col.six {
  width: 50%;
}
.box .col.seven {
  width: 58.333339%;
}
.box .col.eight {
  width: 66.66669%;
}
.box .col.nine {
  width: 75%;
}
.box .col.ten {
  width: 83.33339%;
}
.box .col.eleven {
  width: 91.66669%;
}
.box .col.twelve {
  width: 100%;
}
.box .row,
.box .col {
  /* column styles */
  /* label above input field*/
  /* input field */
  /* tool tip next to input field */
}
.box .row.title,
.box .col.title {
  font-size: 16px;
}
.box .row.label,
.box .col.label {
  white-space: nowrap;
  cursor: default;
}
.box .row.label a,
.box .col.label a {
  cursor: pointer;
}
.box .row.field-label,
.box .col.field-label {
  text-align: right;
}
.box .row.menu .label,
.box .col.menu .label {
  cursor: pointer;
}
.box .row.field,
.box .col.field {
  text-align: right;
  padding: 20px 5px 0 7px;
  white-space: nowrap;
}
.box .row.input,
.box .col.input {
  padding: 5px 5px 5px 7px;
  min-height: 30px;
}
.box .row.buttons .button,
.box .col.buttons .button {
  margin-top: 0;
  margin-left: 10px;
}
.box .row.buttons.text-right .button,
.box .col.buttons.text-right .button {
  margin-top: 0;
  margin-right: 10px;
  margin-left: 0;
}
.box .row.tip,
.box .col.tip {
  padding: 10px 5px 0 7px;
  min-height: 30px;
  white-space: nowrap;
}
.box .row.title.with-icon,
.box .col.title.with-icon {
  padding-top: 8px;
}
.box .row.link,
.box .col.link {
  cursor: pointer;
}
.box .row.link a,
.box .col.link a {
  text-decoration: none;
}
.box h1,
.box h2,
.box h3,
.box h4,
.box h5,
.box h6 {
  font-weight: normal;
  margin: 0px;
  padding: 0px;
}
.box h1 {
  font-size: 4.2em;
}
.box h2 {
  font-size: 3.2em;
}
.box h3 {
  font-size: 2.4em;
}
.box h4 {
  font-size: 1.8em;
}
.box h5 {
  font-size: 1.6em;
}
.box h6 {
  font-size: 1.2em;
}
.box input,
.box textarea,
.box select {
  border: none 0 !important;
  font-size: 12px;
  padding: 5px 4px;
  box-sizing: border-box;
  width: 100%;
}
.box input[type="checkbox"] {
  margin: 2px 9px 0 0;
}
.box input[type="checkbox"] + label {
  padding-right: 5px;
}
.box input.long,
.box select.long {
  width: calc(100% - 11px);
}
.box input.short,
.box select.short {
  width: 100px;
}
.box input.tiny,
.box select.tiny {
  width: 50px;
}
.box input.digit {
  width: 25px;
}
.box select {
  padding: 5px 4px;
  box-sizing: border-box;
}
.box label {
  position: relative;
  top: -2px;
}
.box textarea {
  height: 100px;
}
.box textarea.small {
  height: 40px;
}
.box textarea.medium {
  height: 150px;
}
.box textarea.tall {
  height: 300px;
}
.box textarea.tallest {
  height: 100%;
}
.box a.button {
  text-decoration: none !important;
}
.box .button {
  display: inline-block;
  padding: 8px 14px;
  margin: -8px 0;
  border-radius: 4px;
  white-space: nowrap;
}
.box .button:hover {
  cursor: pointer;
}
.box .button.outline {
  padding: 4px 10px;
  font-size: 12px;
  border: 2px solid;
  cursor: pointer;
  background-color: transparent !important;
  border-radius: 4px;
  overflow: hidden;
}
.box .button.circle {
  border-radius: 100%;
  font-size: 0px;
  padding: 7px;
  margin: -7px 0;
}
.box .button.circle.large {
  padding: 14px;
  margin: -14px 0;
}
.box .button.icon {
  padding: 7px;
  margin: -7px 0;
  background-color: transparent !important;
}
.box .row.header .button.circle {
  position: relative;
  z-index: 5;
}
.box .row.size-sm svg,
.box .row svg {
  width: 16px;
  height: 16px;
}
.box .row.size-sm .col.icon,
.box .row .col.icon {
  height: 16px;
}
.box .row.size-sm .col.icon.pad-right,
.box .row .col.icon.pad-right {
  padding-right: 5px;
}
.box .row.size-sm .col.title,
.box .row .col.title {
  line-height: 1;
}
.box .row.size-sm .col.label,
.box .row .col.label {
  line-height: 1;
  margin-top: 1px;
}
.box .row.size-sm .col.field-label,
.box .row .col.field-label {
  width: 80px;
  padding: 8px 7px 7px 4px;
  margin-top: 1px;
}
.box .row.size-sm .col.field-label.long,
.box .row .col.field-label.long {
  width: 120px;
}
.box .row.size-sm .col.field-input,
.box .row .col.field-input {
  padding: 4px 7px 4px 0px;
}
.box .row.size-sm .col.field-text,
.box .row .col.field-text {
  padding: 8px 7px 7px 4px;
  margin-top: 1px;
}
.box .row.size-sm .col.field-icon,
.box .row .col.field-icon {
  margin-top: 8px;
}
.box .row.size-sm .col.buttons .button,
.box .row .col.buttons .button {
  margin-left: 10px;
}
.box .row.size-sm .col.buttons.right .button,
.box .row .col.buttons.right .button {
  margin-left: 0;
  margin-right: 10px;
}
.box .row.size-sm .col .button.circle.large,
.box .row .col .button.circle.large {
  padding: 7px;
  margin: -12px 0;
}
.box .row.size-sm .col .button.circle.large svg,
.box .row .col .button.circle.large svg {
  width: 25px;
  height: 25px;
}
.box .row.size-sm .header .buttons,
.box .row .header .buttons {
  margin-top: -3px;
}
.box .row.size-sm .header .buttons .button,
.box .row .header .buttons .button {
  padding: 4px 9px;
}
.box .size-med svg {
  width: 25px;
  height: 25px;
}
.box .size-med .col.icon {
  height: 25px;
}
.box .size-med .col.icon.pad-right {
  padding-right: 7px;
}
.box .size-med .col.title {
  line-height: 1.5;
  font-size: 17px;
}
.box .size-med .col.label {
  line-height: 1;
  margin-top: 5px;
}
.box .size-med .col.field-label {
  width: 80px;
  padding: 8px 7px 7px 4px;
  margin-top: 1px;
}
.box .size-med .col.field-label.long {
  width: 120px;
}
.box .size-med .col.field-input {
  padding: 3px 7px 3px 0px;
}
.box .size-med .col.field-text {
  padding: 8px 7px 7px 4px;
  margin-top: 1px;
}
.box .size-med .col.field-icon {
  margin-top: 3px;
}
.box .size-med .col.buttons .button {
  margin-left: 10px;
}
.box .size-med .col.buttons.right .button {
  margin-left: 0px;
  margin-right: 10px;
}
.box .size-med .col .button.circle.large {
  padding: 7px;
  margin: -14px 0;
}
.box .size-med .col .button.circle.large svg {
  width: 36px;
  height: 36px;
}
.box .size-med .header .buttons {
  margin-top: -2px;
}
.box .size-med .header .buttons .button {
  padding: 7px 14px;
}
.box .size-lg {
  font-size: 16px;
}
.box .size-lg svg {
  width: 32px;
  height: 32px;
}
.box .size-lg .col.icon {
  height: 32px;
}
.box .size-lg .col.icon.pad-right {
  padding-right: 9px;
}
.box .size-lg .col.title {
  line-height: 1.75;
  font-size: 20px;
}
.box .size-lg .col.label {
  line-height: 1;
  margin-top: 10px;
}
.box .size-lg .col.field-label {
  width: 80px;
  padding: 8px 7px 7px 4px;
  margin-top: 1px;
}
.box .size-lg .col.field-label.long {
  width: 120px;
}
.box .size-lg .col.field-input {
  padding: 3px 7px 3px 0px;
}
.box .size-lg .col.field-text {
  padding: 8px 7px 7px 4px;
  margin-top: 1px;
}
.box .size-lg .col.field-icon {
  margin-top: 8px;
}
.box .size-lg .col.buttons {
  margin: -3px 0;
}
.box .size-lg .col.buttons .button {
  margin-left: 10px;
  padding: 12px 16px;
  font-size: 16px;
}
.box .size-lg .col.buttons.right .button {
  margin-left: 0px;
  margin-right: 10px;
}
.box .size-lg .col .button.circle,
.box .size-lg .col .button.icon {
  margin: -5px 0 -9px 0;
}
.box .size-lg .col .button.circle.large {
  padding: 7px;
  margin: -14px 0 -11px 0;
}
.box .size-lg .col .button.circle.large svg {
  width: 48px;
  height: 48px;
}
.box .size-lg .header .buttons {
  margin-top: 1px;
}
.box .size-lg .header .buttons .button {
  padding: 9px 16px;
}
.box .tag {
  position: relative;
  z-index: 100;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 11px;
}
.box .color-tag {
  float: left;
  width: 7px;
}
.box .color-tag .bg {
  height: 30px;
}
.box .color-contents {
  float: left;
  width: calc(100% - 7px);
}
.box ul.columns-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
}
/* source code */
.code {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}
.code.tab1 {
  padding-left: 20px;
}
.code.tab2 {
  padding-left: 40px;
}
.code.tab3 {
  padding-left: 60px;
}
.code.tab4 {
  padding-left: 80px;
}
.code.tab5 {
  padding-left: 100px;
}
.code.tab6 {
  padding-left: 120px;
}
.code.tab7 {
  padding-left: 140px;
}
.code.tab8 {
  padding-left: 160px;
}
.code.tab9 {
  padding-left: 180px;
}
.code-tag {
  color: #FF0000;
}
.code-tag-name {
  color: #990066;
}
.code-attr {
  color: #0066CC;
}
.code-attr-value {
  color: #FF6600;
}
.code-comment {
  color: #339900;
}
.code-help-section {
  clear: both;
}
.code-help-title {
  float: left;
  width: 40%;
  text-align: right;
}
.code-help-description {
  float: left;
  width: 55%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
}
